* {
  margin: 0;
  padding: 0;
}
/* First - Main Section   */
#home {
  background-color: darkslategrey;
  color: white;
  width: 100%;
  display:flex;
height: 100%;
padding: 50px 200px;

}
.welcome{
  display:flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  width:300px;
  padding-right:200px;
}
#home iframe{
  width:500px; 
  height:300px;

}


/* Second - Urban Cities Pictures Section */
#urban-cities img {
  width: 400px;
  height: 300px;
}
#urban-cities{
  background-image: url('https://images.unsplash.com/photo-1544991185-13fe5d113fe3?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 100px;
}
.pics{
display:flex;
flex-direction:column;
margin: 50px;
border: 20px ridge rgba(34,47,174,0.75);
background: rgba(23,41,135,0.59);
}
span{
  text-align: center;
  padding: 10px;
  color:white;
}
h2 {
  text-align: center;
}

/* Third - Quote Section */
#quote {
  background-color: lightgrey;
  color: black;
  width: 100%;
  height: 500px;
}
blockquote {
  font-size: 2em;
  padding: 200px 300px;
  text-align: center;
}

/* Fourth- Sign Up Section */
#signup {
  
  color: white;
  width: 100%;
  height: 500px;
}
.sign-up{
  display:flex;
  flex-direction: column;
  gap: 2rem;
}
/* Footer */

button {
  background-color: yellow;
  color: white;
}

/* navigation bar */
header {
  background-color: rgb(35, 31, 31);
  color: white;
  height: 50px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
a:hover {
  color: lightblue;
} 
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-right {
  float: right;
  padding-right: 60px;
}
